<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- kMyMoney -->
    <menuitem id="kmn_menu_top" name="kMyMoney"                       sequence="10"/>
    <menuitem id="kmn_menu"     name="kMyMoney"      parent="kmn_menu_top" sequence="10"/>

    <menuitem id="kmn_accounts_menu"                 parent="kmn_menu" action="kmn_accounts_action"     sequence="10"/>
    <menuitem id="kmn_account_move_menu"             parent="kmn_menu" action="kmn_account_move_action" sequence="15"/>
    <menuitem id="kmn_account_type_menu"             parent="kmn_menu" action="kmn_account_type_action" sequence="20"/>
    <menuitem id="kmn_institutions_menu"             parent="kmn_menu" action="kmn_institutions_action" sequence="30"/>
    <menuitem id="kmn_tiers_menu"                    parent="kmn_menu" action="kmn_tiers_action"        sequence="40"/>

    <menuitem id="is_kmymoney_report_main_menu"   name="Report" parent="kmn_menu_top" sequence="20"/>
    <menuitem id="kmn_solde_par_mois_report_menu"               action="kmn_solde_par_mois_report_action"      parent="is_kmymoney_report_main_menu" sequence="10" />
    <menuitem id="kmn_solde_par_an_report_menu"                 action="kmn_solde_par_an_report_action"        parent="is_kmymoney_report_main_menu" sequence="20" />
    <menuitem id="is_kmymoney_report_menu"        name="Report" action="is_kmymoney_report_action"             parent="is_kmymoney_report_main_menu" sequence="30"/>
    <menuitem id="kmn_solde_par_operation_report_menu"          action="kmn_solde_par_operation_report_action" parent="is_kmymoney_report_main_menu" sequence="40" />

    <menuitem id="is_kmymoney_graph_main_menu"   name="Graph" parent="kmn_menu_top" sequence="30"/>

    <menuitem  name="Solde par année et par compte" id="solde_par_annee_compte_menu" action="solde_par_annee_compte_action" parent="is_kmymoney_graph_main_menu" sequence="10"/>


    <!-- Suivi santé -->
    <menuitem id="is_suivi_sante_top_menu"  name="Suivi santé" sequence="20"/>
    <menuitem id="is_suivi_sante_main_menu" name="Suivi santé" parent="is_suivi_sante_top_menu"  sequence="10"/>
    <menuitem id="is_suivi_sante_menu"      name="Suivi santé" parent="is_suivi_sante_main_menu" action="is_suivi_sante_action" sequence="10"/>
    <menuitem id="is_suivi_poids_menu"      name="Suivi poids" parent="is_suivi_sante_main_menu" action="is_suivi_poids_action" sequence="20"/>
    <menuitem id="is_suivi_fcr_menu"        name="Suivi FC-R"  parent="is_suivi_sante_main_menu" action="is_suivi_fcr_action"   sequence="30"/>
    <menuitem id="is_suivi_fcs_menu"        name="Suivi FC-S"  parent="is_suivi_sante_main_menu" action="is_suivi_fcs_action"   sequence="40"/>
    <menuitem id="is_suivi_vfc_menu"        name="Suivi VFC"   parent="is_suivi_sante_main_menu" action="is_suivi_vfc_action"   sequence="50"/>

    <menuitem id="is_societe_menu"          name="Sociétés"    parent="is_suivi_sante_top_menu"  action="base.action_res_company_form" sequence="20"/>





</odoo>
